.dropdown-menu {
    background-color: rgba(0,114,186,.8);
    border: 1px solid rgba(0,114,186,.8);
    border-radius: 0rem;
    padding: 0px;
    margin: 0px;
}
.bottom_top_nav .dropdown-menu.show {
    background-color: rgba(0,114,186,.8);
    border-radius: 0;
}
.banner_slider{
	display: block !important;
}

.overlay-content.inner-page {
    top: 50%;
    left: 10%;
    transform: none;
    width: 80%;
}
/* inner pages */
.main-sec{
	padding: 150px 0px;
}
.main-sec h1{
	font-size:48px;
	color: #0072ba;
	font-weight: 600;
}
.main-sec p{
	font-size:24px;
	color: #565656;
}
.mis-bg{
	background-image:url("../images/over-img2.jpg");
	background-repeat: no-repeat;
	padding: 400px 0 100px;
	background-size: contain;
}

.why h1{
	text-align: center;
	margin-bottom: 30px;
}
.why-cntr{
	position: relative;
}
.why-cntr:after{
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	left: 50%;
	top: 0;
	background:#0072ba;
	z-index: -1;
}
.why-cntr h2{
	text-align: center;
}

.why-cntr h2 .btn {
	margin-left: 34px;
	display: none;
}
.why-cntr h2 .btn i{
	background:#000;
	color: #fff;
	padding: 10px;
	float: left;
	margin-right: 5px;
}
.why-cntr h2 .btn span{
	background:#0072ba;
	color: #fff;
	padding: 4px 20px;
	font-size:24px;
	font-weight: 600;
	text-decoration: none;
	line-height: 28px;
}


.why-cntr h2 .btn.collapsed, .why-cntr h2 .btn.collapsed span, .why-cntr h2 .btn.collapsed i{
	display: inline-block;
}
.why-cntr .num{
	background:#000;
	color: #fff;
	padding: 10px;
	font-size:30px;
	float: left;
	font-weight: 600;
	margin-bottom: 10px;
}
.why-cntr .num.num2 {
    float: right;
}
.why-cntr p{
	color: #0072ba;
}

.approval {
	position: relative;
}
.approval h1{
	color: #fff;
	text-align: center;
	margin-bottom: 15px;
}
.approval p{
	color: #fff;
	text-align: center;
}
.approval:after{
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 60%;
	background-color: #2b2b2b;
	z-index: -1;
}
.approval-slide{
	padding: 50px 0 100px;
}
.approval-slide-cntr {
    border: 1px solid #ccc;
    text-align: center;
    margin: 0px auto;
    max-width: 340px;
}
.approval-slide .slick-arrow{
	position: absolute;
	border: 0px;
	padding: 10px 20px;
	color: #fff;
	font-size:24px;
}
.approval-slide .slick-prev{
	right: 50px;
	bottom: 0;
	background:#2b2b2b ;
}
.approval-slide .slick-next {
	right: 0;
	bottom: 0;
	background:#0072ba;
}
.enrolled h1{
	color: #2b2b2b;
	text-align: center;
	margin-bottom: 15px;
}
.enrolled p{
	color: #2b2b2b;
	text-align: center;
	margin-bottom: 30px;
}

.enrolled ul li a.nav-link{
	background-color: #2b2b2b;
	border-radius: 0px;
	padding: 10px 30px;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
	line-height: 16px;
	min-width: 150px;
	margin: 0px 2px;
}
.enrolled ul li a.nav-link span{
	font-size: 14px;
}
.enrolled ul li a.nav-link.active{
	background-color: #0072ba;
}
.enrolled-slide-cntr{
	background-color: #2b2b2b;
	margin: 0px auto;
	max-width: 340px;
}
.enrolled-det{
	margin: 10px;
	padding: 10px;
	border: 1px solid #fff;
	float: left;
	width: calc(100% - 20px);
	text-align: center;
}
.enrolled-det span {
	font-size: 14px;
	color: #fff;
}
.enrolled-det p {
	font-size: 16px;
	color: #fff;
	margin: 0px;
}

.mentor{
	background-color: #0072ba;
}
.mentor h1{
	color: #fff;
	text-align: center;
	margin-bottom: 15px;
}
.mentor p{
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}

.mentor-slide-cntr{
	margin: 0px auto;
	max-width: 340px;
}
.mentor-det{
	background:rgba(255,255,255,.8);
	margin-left: 20px;
	margin-top: -40px;
    position: relative;
}
.mentor-det span{
	text-align: center;
	float: left;
	width: 100%;
	padding: 10px;
	color: #0072ba;
	font-size:24px;
	font-weight: 600;
	line-height: 20px;
}
.mentor-det p {
    color: #fff;
    background-color: #2b2b2b;
    margin: 0px;
    float: left;
    width: 100%;
    font-size: 14px;
    padding: 10px;
}
.mentor-slide-cntr img{
	margin-right: 20px;
}

.approval-slide.mentor .slick-next {
	background:#fff;
	color: #0072ba;
}

/* ABOUT PAGE */
.abou-sec-1 img{
	padding: 10px;
	background:#fff;
	box-shadow: 0 0 10px rgba(0,0,0,.3) ;
}
.abou-sec-2 h1{
	margin-top: 100px;
}
.abou-sec-3{
	background:#0072ba;
	text-align: right;
}
.abou-sec-3 h1{
	color: #fff;
}
.abou-sec-3 p{
	color: #fff;
}
.abou-sec-3 .img-cntr{
	position: relative;
    float: right;
    margin: 50px 50px 0 0;
}
.abou-sec-3 .img-cntr:after {
	content: "";
    position: absolute;
    right: -50px;
    top: -50px;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    z-index: 0;

}
.abou-sec-3 .img-cntr img{
	position: relative;
    z-index: 2;
}
.abou-sec-4{
	background-image: url("../images/about-4.jpg");
	background-size: cover;
}
.abou-sec-4 h1{
	color: #fff;
}
.abou-sec-4 p{
	color: #fff;
}
.abou-sec-4 ul{
	padding: 0px;
	margin:0px;
}
.abou-sec-4 ul li{
	list-style: none;
	list-style-type: none;
	color: #fff;
	font-size:24px;
	line-height: 36px;
}
.abou-sec-5{
	background:#0072ba;
	padding: 150px 0;
}
.abou-sec-5 h1{
	text-align: center;
	color: #fff;
}
.abou-sec-5 p{
	text-align: center;
	color: #fff;
}
.abou-sec-6{
	background:#fff;
	padding: 150px 0;
}
.abou-sec-6 h1{
	text-align: center;
	color: #333;
}
.abou-sec-6 p{
	text-align: center;
	color: #333;
}
.clr-prim{
	color: #0072ba !important;
}


.abou-sec-1 h3{
	font-weight: 600;
	margin: 20px 0;
}
.abou-sec-1 table{
	margin: 20px 0;
}


.abou-sec-7{
	background:#0072ba;
	padding: 150px 0;
}
.abou-sec-7 h1{
	text-align: left;
	color: #fff;
}
.abou-sec-7 p{
	text-align: left;
	color: #fff;
}


.abou-sec-8{
	background:#21201e;
	padding: 150px 0;
}
.abou-sec-8 h1{
	text-align: left;
	color: #fff;
}
.abou-sec-8 p{
	text-align: left;
	color: #fff;

}
.offer{
	background-color: rgba(0,0,0,.3);
	clear: both;
	margin-bottom: 15px;
}
.offer p{
	color: #fff;
	margin: 0px;
	padding: 10px;

}
.offer i {
    float: right;
    color: #0072ba;
    padding: 10px 15px;
    background: #fff;
    font-size: 36px;
}

.eligibile{
	background:#0072ba;
	margin: 10px;
	position: relative;
	padding: 10px;
}
.eligibile p{
	color: #fff;
	margin: 0px;
	line-height: 54px;
}

.eligibile:after{
	content: "";
	position: absolute;
	left: -10px;
	top: -10px;
	border:1px dashed #fff;
	width: calc(100% + 20px);
	height: calc(100% + 20px);
}
.eligibile .btn{
	background:#fff;
	padding: 8px 30px;
	color: #0072ba !important;
	border-radius: 0px;
	float: right;
	font-size: 24px;
}
/* contact */
.contact-hd{
	background:#0072ba;
	height: 60vh;
}
.overlay-content.inner-page.contact {
    top: 30%;
}
.contact-cntr{
	padding: 0px;
	border: 1px solid #f5f5f5;
	box-shadow: 0 0 10px rgba(0,0,0,.4);
}
.contact-form{
	padding: 100px;
}
.contact-form h1 {
    text-align: center;
    color: #333;
}
.contact-form p {
    color: #333;
    text-align: center;
    margin-bottom: 25px;
}

.contact-form .form-control {
    line-height: 45px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 0px;
    min-height: 50px;
}

.contact-form .btn{
	color: #fff;
    background-color: #0072ba;
    border-radius: 0px;
    font-size:24px;
}

/* euquiry */
.enquiry {
    max-width: 1920px;
    background: #fff;
    margin: 0px;
    height: 100%;
}
.enquiry .modal-content {
    border:0px;
    border-radius: 0px;
}

.enquiry .contact-form {
    padding: 30px 100px;
}

.enquiry .contact-form h1 {
    color: #0072ba;
    margin-bottom: 50px;
}

.all-page ul {
    padding: 0px;
    margin: 0 0 40px 0;
}
.all-page ul li {
    list-style: none;
    list-style-type: none;
    color: #565656;
    font-size: 24px;
    line-height: 36px;
}
.main-sec.all-page h1 {
    font-size: 30px;
    color:#565656;
}



#portfolio {
    margin:50px 0px;
/*    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 20%;
    -moz-column-width: 20%;
    column-width: 20%;

*/
}
.tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}
.tile:hover {

}

.scale-anm {
  transform: scale(1);
}



.tile img {
    max-width: 100%;
    width: 100%;
    height: 195px;
    object-fit: cover;
}
.tile a {
    display: block;
}
.toolbar{
	margin: 0px auto;
	max-width: 210px;
}
.toolbar .btn {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 20px 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #999;
    background-color: rgba(0, 0, 0, 0);
	border:none !important;
	border-bottom:3px solid #fff !important;
	border-radius:0px;
}
.toolbar .btn.fil-cat.current{border-bottom:3px solid #14a0ca !important; font-weight: 400; color:#333;}

.toolbar .btn:hover {
  text-decoration: none;
}

.toolbar .btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}




@media screen and (max-width: 1450px) {
	.main-sec {
    padding: 80px 0px;
}

.bottom_top_nav	.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
}
.banner_slider .overlay-content h2 {
    font-size: 36px;
}

.mis-bg {
    padding: 270px 0 50px;
}
.main-sec h1 {
    font-size: 36px;
}
.main-sec p {
    font-size: 16px;
}
.why-cntr .num {
    font-size: 24px;
}
.why-cntr h2 .btn span {
    padding: 4px 15px;
    font-size: 16px;
    line-height: 20px;
}
.why-cntr h2 .btn i {
    padding: 7px 10px;
    font-size: 14px;
}
.why-cntr h2 .btn {
    margin-left: 19px;
}
.approval-slide-cntr {
    margin: 0 10px;
}
.enrolled-slide-cntr {
    margin:0 10px;
}
.mentor-slide-cntr {
    margin: 0px 10px;
}
.mentor-det span {
    font-size: 18px;
}
.mentor-det p {
    font-size: 14px;
    line-height: 20px;
}
.abou-sec-1 h3{
	font-size: 18px;
}
.abou-sec-5{
	padding: 80px 0;
}
.abou-sec-6{
	padding: 80px 0;
}
.abou-sec-4 ul li{
	font-size:16px;
	line-height: 26px;
}
.eligibile p{
	line-height: 45px;
}
.eligibile .btn {
    font-size: 18px;
}
.offer i {
    font-size: 24px;
}
.abou-sec-7{
	padding: 80px 0;
}
.abou-sec-8{
	padding: 80px 0;
}
.contact-form {
    padding: 50px;
}
.contact-form h1 {
    font-size: 36px;
}
.contact-form p {
    font-size: 14px;
}
.contact-form .form-control {
    min-height: 40px;
    font-size:14px;
}
.contact-form .btn {
    font-size: 18px;
}

.main-sec.all-page h1 {
    font-size: 24px;
}
.all-page ul {
    margin: 0 0 40px 0;
}
.all-page ul li {
    font-size: 18px;
    line-height: 28px;
}

.tile img {
    height: 135px;
}

.enquiry .contact-form h1 {
    margin-bottom: 30px;
    font-size: 28px;
}
.enquiry .contact-form {
    padding: 30px 60px;
}

}
@media screen and (max-width: 992px) {
	.header-nav .navbar .navbar-brand {
    margin-right: 0;
    padding: 0px;
}
.banner_slider .overlay-content h2 {
    font-size: 14px;
}

.main-sec {
    padding: 30px 0px;
}
.mis-bg {
    padding: 80px 0 30px;
}
.why-cntr:after {
    left: 0;
}
.why-cntr .num {
    font-size: 24px;
    margin: 15px;
}
.why-cntr .num {
    margin: 10px;
}
.main-sec h1 {
    font-size: 18px;
}
.main-sec p {
    margin: 10px;
}
.why-cntr h2 {
    text-align: left;
}
.why-cntr h2 .btn {
    margin-left: 0px;
    padding: 0px;
}
.mentor-det p {
    margin: 0px;
}
.mentor-det {
    margin-left: 0px;
    margin-top: -50px;
}
.abou-sec-2 h1 {
    margin-top: 30px;
}
.abou-sec-1 p, .abou-sec-2 p, .abou-sec-3 p, .abou-sec-4 p, .abou-sec-5 p, .abou-sec-6 p{
	margin:0 0 20px 0;
}
.abou-sec-3 .img-cntr {
    margin: 30px 30px 0 0;
}
.abou-sec-3 .img-cntr:after {
    right: -30px;
    top: -30px;
}
.abou-sec-4 {
    background-attachment: fixed;
}
.abou-sec-5 {
    padding: 30px 0;
}
.abou-sec-6 {
    padding: 30px 0;
}


.abou-sec-1 h3{
	font-size: 20px;
}

.abou-sec-7{
	padding: 30px 0;
}
.abou-sec-7 p {
    margin: 0 0 15px 0 ;
}
.abou-sec-8{
	padding: 30px 0;
}
.abou-sec-8 p {
    margin: 0 0 15px 0 ;
}
.eligibile p {
    margin: 0  ;
}
.contact-hd {
    height: 87vh;
}
.contact-form {
    padding: 50px 30px;
}

.main-sec.all-page h1 {
    font-size: 18px;
}
.all-page ul li {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
}

.tile {
    margin-bottom: 20px;
}
.tile img {
    height: 184px;
}
.enquiry .contact-form {
    padding: 30px 60px;
}
}
