 <style type="text/css">
    #box {
        padding: 20px;
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
</style>
	@extends('layouts.inner')
@section('content')

    <div class="container-fluid slider_cc p-0">
      <div class="banner_slider_inner">
        <div class="banner_slider">
          <div class="banner_slider_top">
            <div class="banner_slider">
              <div class=" slide slide--1" >
                <img src="{{ asset('assets/saakochi/images/over-banner.jpg')}}" class="img-fluid">
              </div>
              <div class="overlay">
              </div>
              <div class="overlay-content inner-page">            
                  <h2>Frequently Asked Questions</h2>     
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
            <div id="box">
              <h1>404</h1>
              <h6>Page not found</h6>
              <p>Sorry, the page you are looking for could not be found.</p>
            </div>
        
     
@endsection